#about:after {
    background: #232323 url("../img/AppBar/question.png") 50% 50% no-repeat;
    background-size: 24px 24px;
}

#comparative:after {
    background: #232323 url("../img/AppBar/interchange.png") 50% 50% no-repeat;
    background-size: 24px 24px;
}


#search:after {
    background: #232323 url("../img/AppBar/icon_search.png") 50% 50% no-repeat;
    background-size: 14px 14px;
}