#result {
    text-align:center;
    display:table;
    width: 100%;
    background-image: url('../img/background.jpg');
}

#data {
    display: table-cell; 
    vertical-align:middle;
    position: relative;
    left: -0.940em;
}

#lblResult {
    /*font-size: 10em;*/
    background-image: url('../img/bg.png');
}

#location {
    position:fixed;
    left:0px;
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

#tblLocation {
    color:white; 
    font-weight: bold;
    width:100%; 
}

#about:after {
    background: #232323 url("../img/AppBar/question.png") 50% 50% no-repeat;
    background-size: 24px 24px;
}

#comparative:after {
    background: #232323 url("../img/AppBar/interchange.png") 50% 50% no-repeat;
    background-size: 24px 24px;
}


#search:after {
    background: #232323 url("../img/AppBar/icon_search.png") 50% 50% no-repeat;
    background-size: 14px 14px;
}
