<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="amChartsQuickCharts" version="1.1" targetFramework="wp80" />
  <package id="ImageTools" version="0.3.1" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="wp80" />
  <package id="sqlite-net" version="1.0.8" targetFramework="wp80" />
  <package id="sqlite-net-wp8" version="3.8.4.3" targetFramework="wp80" />
  <package id="WPtoolkit.Kinnara" version="4.2014.03.26" targetFramework="wp80" />
</packages>